#bannerRight {
  position: relative;
  background-color: black;
  height: 295px;
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

#imgBannerRight {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  opacity: 0.4;
  height: 295px;
}

#TextBannerRight {
  top: 50%;
  left: 50%;
  position: absolute;
  margin: auto;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: white;
}

@media only screen and (max-width: 650px) {
  #bannerRight {
    height: 200px;
  }
  #imgBannerRight {
    height: 200px;
  }
}
