.bannerLeft {
  background-color: black;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.imgBannerLeft {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  opacity: 0.4;
  height: 350px;
}

.lazy-load-image-background.blur {
  filter: blur(15px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter 0.3s;
}

.lazy-load-image-background.blur > img {
  opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity 0.3s;
}

@media only screen and (max-width: 650px) {
  .bannerLeft {
    width: 100%;
    height: 200px;
  }
}
