.bannerRight {
  background-color: black;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.imgBannerRight {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  opacity: 0.4;
  height: 350px;
}
@media only screen and (max-width: 650px) {
  .bannerRight {
    height: 200px;
  }
  .imgBannerRight {
    height: 200px;
  }
}
