.categoriesContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.category {
  position: relative;
  height: 100px;
  background-color: #333;
  border-radius: 10px;
}

.textCategory {
  position: absolute;
  color: white;
  z-index: 1;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgCategory {
  object-fit: cover;
  height: 100px;
  opacity: 0.4;
  width: 100%;
  border-radius: 10px;
}
