.containerBanner {
  display: grid;
  grid-template-columns: 60% auto;
  grid-gap: 20px;
}

.containerCard {
  margin: auto;
  padding-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

@media only screen and (max-width: 650px) {
  .containerBanner {
    grid-template-columns: 100%;
  }
  .containerCard {
    grid-template-columns: 100%;
  }
}
