html,
body {
  width: 90%;
  margin: auto;
}
@font-face {
  font-family: Kanit;
  src: local("../assets/fonts/Kanit-Bold.ttf");
}

@font-face {
  font-family: Sarabun;
  src: local("../assets/fonts/Sarabun-Regular.ttf");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Kanit;
}

body {
  font-family: Sarabun;
  font-size: 18px;
}

h1 {
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 2px;
}
h2 {
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 2px;
}
h3 {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 2px;
}
h4 {
  margin: 0px;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 2px;
}
h5 {
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 2px;
}
h6 {
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 2px;
}

span {
  margin: 0px;
  line-height: 100%;
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
}
