.logo {
  color: #a43131;
  font-size: 35px;
  font-family: Kanit;
  font-weight: 800;
}

.nav {
  padding-top: 10px;
  width: 100%;
  height: 90px;
}

.nav .ul {
  float: right;
}

.nav .ul .li {
  color: #a43131;
  display: inline-block;
  font-size: 20px;
  padding: 0px 40px;
}
.a {
  color: #a43131;
  text-decoration: none;
}
.checkbtn {
  float: right;
  margin-right: 40px;
  display: none;
}

#check {
  float: right;
  margin-right: 40px;
  display: none;
}

@media only screen and (max-width: 650px) {
  .logo {
    font-size: 35px;
  }
  .checkbtn {
    display: block;
    margin: auto;
  }
  .ul {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #a43131;
    z-index: 2;
    left: -120%;
    text-align: center;
    transition: all 0.5s;
  }
  .nav .ul .li {
    display: block;
    font-size: 25px;
  }
  .a {
    color: #fff;
  }
  .hamburg {
    font-size: 25px;
    border: none;
    background-color: white;
    outline: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
